*{
    padding: 0;
     margin: 0;
    box-sizing: border-box;
}
body{
color: rgba(0, 0, 0, 84);
background-color: rgba(146, 142, 142, 0.589);
}
.main-container{
    width: 100%; 
    height: 100vh;
}
.nav-section{
    background-color: rgb(62, 56, 56);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-section li{
display: inline-block;
margin: 25px; 
list-style: none;
}

.nav-section li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.tribute-section{
    max-width: 850px;
    width: 100%;
    margin: 20px auto;
    box-shadow:none;
    padding: 50px;
    margin-top: 100px;
    background-color: whitesmoke;
}

.remember{
    text-align: center;
}

.remember h1{
    font-size: 3rem;
}
.text-section{
    margin-left: 100px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
}
.text-section {
    margin: 50, 0;
}